{
                            'Tables': ['activities'
                                       ,'assays'
                                       ,'target_components'
                                       ,'target_dictionary'
                                       ,'component_sequences'
                                       ,'component_class'
                                       ,'protein_family_classification'
                                       ,'molecule_dictionary'
                                       ,'molecule_hierarchy'
                                       ,'compound_structures'
                                       ,'DRUG_INDICATION'
                                       ,'COMPOUND_PROPERTIES'
                                       ,'COMPOUND_RECORDS'
                                       ,'DOCS'
                                       ,'SOURCE'
                                       ,'activity_properties'
                                       ,'assay_parameters'],
                            'Columns': [['activity_id','doc_id','standard_value','pchembl_value','toid','activity_comment','standard_units','standard_type','data_validity_comment','standard_relation','potential_duplicate','molregno']
                                       ,['assay_id','confidence_score','description']
                                       ,['tid']
                                       ,['tid','chembl_id','target_type','organism','pref_name','species_group_flag','tax_id']
                                       ,['component_id','accession']
                                       ,['component_id']
                                       ,['protein_class_id','l1','l2','l3']
                                       ,['molregno','chembl_id','oral']
                                       ,['molregno','parent_molregno','active_molregno']
                                       ,['molregno','standard_inchi','standard_inchi_key','canonical_smiles']
                                       ,['drugind_id','record_id','molregno','max_phase_for_ind','mesh_id','mesh_heading','efo_id','efo_term']
                                       ,['molregno','mw_freebase','alogp','hba','hbd','psa','rtb','ro3_pass','num_ro5_violations','molecular_species','full_mwt','aromatic_rings','heavy_atoms','qed_weighted','mw_monoisotopic','full_molformula','hba_lipinski','hbd_lipinski','num_lipinski_ro5_violations']
                                       ,['record_id','compound_key','compound_name']
                                       ,['doc_id','journal','year','volume','issue','first_page','last_page','pubmed_id','doi','chembl_id','title','doc_type','authors','abstract']
                                       ,['src_id','src_description']
                                       ,['ap_id','actp_standard_type','actp_standard_value','actp_standard_text_value']
                                       ,['assay_param_id','standard_type','standard_value','standard_text_value']
                                       ],
                            'Types':   [
                                        		{'activity_id':'int','doc_id':'int','standard_value':'float','pchembl_value':'float','toid':'float','activity_comment':'string','standard_units':'string','standard_type':'string','data_validity_comment':'string','standard_relation':'string','potential_duplicate':'int','molregno':'int'}
                                       ,{'assay_id':'int','confidence_score':'int','description':'string'}
                                       , {'tid':'int'}
                                       , {'tid':'int','chembl_id':'string','target_type':'string','organism':'string','pref_name':'string','species_group_flag':'string','tax_id':'string'}
                                       ,{'component_id':'int','accession':'string'}
                                       ,{'component_id':'int'}
                                       ,{'protein_class_id':'int','l1':'string','l2':'string','l3':'string'}
                                       ,{'molregno':'int','chembl_id':'string','oral':'int'}
                                       ,{'molregno':'int','parent_molregno':'int','active_molregno':'int'}
                                       ,{'molregno':'int','standard_inchi':'string','standard_inchi_key':'string','canonical_smiles':'string'}
                                       ,{'drugind_id':'int','record_id':'int','molregno':'int','max_phase_for_ind':'int','mesh_id':'string','mesh_heading':'string','efo_id':'string','efo_term':'string'}
                                       ,{'molregno':'int','mw_freebase':'float','alogp':'float','hba':'int','hbd':'int','psa':'float','rtb':'int','ro3_pass':'string','num_ro5_violations':'int','molecular_species':'string','full_mwt':'float'
                                          ,'aromatic_rings':'int','heavy_atoms':'int','qed_weighted':'float','mw_monoisotopic':'float','full_molformula':'string','hba_lipinski':'int','hbd_lipinski':'int','num_lipinski_ro5_violations':'int'}
                                       ,{'record_id':'int','compound_key':'string','compound_name':'string'}
                                       ,{'doc_id':'int','journal':'string','year':'string','volume':'string','issue':'string','first_page':'string','last_page':'string','pubmed_id':'string','doi':'string','chembl_id':'string','title':'string','doc_type':'string','authors':'string','abstract':'string'}
                                       ,{'src_id':'int','src_description':'string'}
                                       ,{'ap_id':'int','actp_standard_type':'string','actp_standard_value':'float','actp_standard_text_value':'string'}
                                       ,{'assay_param_id':'int','standard_type':'string','standard_value':'float','standard_text_value':'string'}
                                       ],
                            'RawFileLoc': ['activities.csv'
                                    ,'assays.csv'
                                    ,'target_dictionary.csv'
                                    ,'molecule_dictionary.csv'
                                    ,'target_components.csv'
                                    ,'component_sequences.csv'
                                    ,'component_class.csv'
                                    ,'protein_family_classification.csv'
                                    ,'molecule_hierarchy.csv'
                                    ,'compound_structures.csv'
                                    ,'DRUG_INDICATION.csv'
                                    ,'COMPOUND_PROPERTIES.csv'
                                    ,'COMPOUND_RECORDS.csv'
                                    ,'DOCS.csv'
                                    ,'SOURCE.csv'
                                    ,'activity_properties.csv'
                                    ,'assay_parameters.csv'] 
                        }
